@import '../../shared.scss';

// Sidebar Nav
.side-nav {
  position: fixed;
  left: .5rem;
  top: 45vh;
  z-index: 5;
  
  div {
    cursor: pointer;
    background-color: $compliment;
    transition: background-color 2s;
    margin-bottom: .5rem;
    border: 1px solid black;
    border-radius: 50%;
    height: .75rem;
    width: .75rem;

    &:hover {
      transition: .5s;
      background-color: $secondary-color;
    }
  }

  .dark {
    background-color: black;
  }
  .menu.dark {
    background: set-text-color($primary-color);
  }

  .active {
    transition: 1s !important;
    transform: scale(1.5);
    background-color: $secondary-color !important;
  }
}