/* ===== MOBILE STYLES ===== */

// Smartphones -- (max-width: 500px), lowest supported width: 320px
@include mediaSm {

  .side-nav {
    
    div {
      height: .5rem !important;
      width: .5rem !important;
    }
  }

  #home-main {
    padding-top: 17vh !important;

    .shrink-wrapper {
      transform: scale(.85) translateY(-25%);
    }
    .main-header {
      font-size: 4rem !important;
      line-height: 1 !important;
      padding-bottom: 1rem;
      font-size: 5.5rem !important;
    }
    .sub-header span{
      margin-bottom: 2rem;
      font-size: 1.2rem;
      padding: .2rem 0 !important;
      background: rgba(lighten($primary-color, 2), .5)
    }
    p {
      font-size: 1.1rem !important;
    }
  } // END HOME MAIN

  .about-me-section {
  
    .title-div {
      flex-direction: column !important;

      .portrait {
        align-self: center;
        height: 10rem !important;
        width: 10rem !important;
        margin: .1rem !important;
      }

      div {
        padding: .2rem !important;

        h2 {
          font-size: 10vw !important;
          max-width: 70vw;
        }
      }
    }
  } // END ABOUT ME

  // Portfolio section
  .portfolio-display {

    .portfolio-header {
      padding: .5rem 0 1rem 0;
      font-size: 3rem !important;
    }
    .project-list {
      max-width: 300px !important;
    }

    // Scale down for extra small phones
    @media screen and (max-width: 350px){
      .portfolio-header {
        font-size: 2.75rem !important;
      }
      .portfolio-track {
        transform: translateY(-2.6rem) scale(.8);
      }
    }
  } // END PORTFOLIO
}

// Tablets & Small Laptops -- (max-width: 768px)
@include mediaMd {
  .menu-overlay {
    flex-flow: column wrap;

    .branding, .nav-menu {
      width: 100% !important;

      &.show {
        transform: translate3d(0, 0, 0) !important;
      }
    }
    .branding {
      max-height: 35vh !important;
      transform: translate3d(-100%, 0, 0) !important;
      padding: 1rem;

      .portrait {
        width: auto !important;
        height: 100% !important;
      }
    }
    .nav-menu {
      height: 65vh !important;
      transform: translate3d(100%, 0, 0) !important;
    }

  } // END NAV MENU

  // Portfolio section
  .portfolio-display {

    .project-list {
      width: 600px !important;
    }
  } // END PORTFOLIO
}

// Desktop & Laptops -- (min-width: 769px) and (max-width: 1170px)
@include mediaLg {

}

// Wide Screens -- Anything over 1170px wide
@include mediaXl {

}
