/* ===== Variables ===== */

$primary-color: #282c34;
$secondary-color: #15b0f6;
$compliment: #ffffff;

$bg-home: url(./images/bg-light-2.jpeg);
$bg-about-me: url(./images/bg-dark.jpeg);
$bg-portfolio: url(./images/bg-white.jpeg);
$bg-contact-me: url(./images/bg-dark-2.jpg);


/* ===== Mixins & Functions ===== */

// Set background image & overlay
@mixin background($bg) {
  position: relative;
  background: $bg;
  background-attachment: fixed;
  background-size: cover;
  
  @if $bg == $bg-home {
    background-color: $primary-color;
    color: set-text-color($primary-color);
  }
  @else if $bg == $bg-portfolio {
    background-color: $compliment;
    color: set-text-color($compliment);
  }
  @else if $bg == $bg-about-me or $bg == $bg-contact-me {
    background-color: $primary-color;
    color: set-text-color($primary-color);
  }

}

// Set text color based on background so it remains readable
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return black;
  } @else {
    @return $compliment;
  }
}

// Animation transition mixin
@mixin easeOut {
  transition: all .5s ease-out;
}


/* ===== Media query mixins in _mobile.scss ===== */
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content; 
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (max-width: 1171px) {
    @content;
  }
}