/* ===== GLOBAL ===== */
@import './shared.scss';
@import './mobile.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background($bg-home);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: 100%;
}

/* ===== Styling ===== */
header {
  position: fixed;
  z-index: 9;
  width: 100%;
}

a {
  text-decoration: none;
}

.highlight {
  color: $secondary-color;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  background: rgba(16, 17, 20, .65);
}

// Section height
#home-main, #about-me, #my-portfolio, #contact-me, .overlay-wrapper {
  height: 100vh;
  width: 100vw;
}

// Sidebar nav
.side-nav {
  position: fixed;
  left: .5rem;
  top: 45vh;
  z-index: 5;
  
  div {
    cursor: pointer;
    background-color: white;
    transition: background-color 2s;
    margin-bottom: .5rem;
    border: 1px solid black;
    border-radius: 50%;
    height: .75rem;
    width: .75rem;

    &:hover {
      transition: .5s;
      background-color: $secondary-color;
    }
  }

  .dark {
    background-color: black;
    border: none;
  }
  .active {
    transition: .5s !important;
    transform: scale(1.5);
    background-color: $secondary-color;
  }
}

// Home page
#home-main {
  padding-top: 30vh;
  text-align: center;
  line-height: 1.5;
  
  h1, h2, h3 {
    margin: 0;
    font-weight: 400;
  
    &.main-header {
      font-size: 6rem;
    }
    &.sub-header span{
      margin-bottom: 2rem;
      padding: .2rem 1rem;
      background: rgba(lighten($primary-color, 2), .5);
    }
  }

  .icons {
    display: inline-block;
    margin: .5rem;

    a {
      padding: .5rem;
      color: white;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  .scroll-button {
    margin-top: 15vh;
    display: block;

    p {
      font-size: 1.5rem;
    }
    .swipe-down {
      background: url(./images/swipe-down.png);
      height: 64px;
      width: 64px;
      border: none;
      animation: swipe-animation 2s infinite;
    }
    
    @keyframes swipe-animation {
      0% {
        transform: rotate(30deg)
      }
      50% {
        transform: rotate(-30deg)
      }
      100% {
        transform: rotate(30deg)
      }
    }
  }
}

// About Me
#about-me {
  @include background($bg-about-me);
}
// Portfolio
#my-portfolio {
  @include background($bg-portfolio);
}
// Contact Me
#contact-me {
  @include background($bg-contact-me);
}


