/* ===== GLOBAL ===== */
@import './shared.scss';
@import './mobile.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background($bg-home);
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

/* ===== Styling ===== */
header {
  position: fixed;
  z-index: 9;
  width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.main-header {
    font-size: 6rem;
  }
  &.sub-header span{
    margin-bottom: 2rem;
    padding: .2rem 1rem;
    background: rgba(lighten($primary-color, 2), .5)
  }
}

.highlight {
  color: $secondary-color;
}

#home-main, #about-me, #my-portfolio, #contact-me {
  height: 100vh;
  width: 100vw;
}

// Home page
#home-main {
  padding-top: 30vh;
  text-align: center;
  line-height: 1.5;
  
  .icons {
    display: inline-block;
    margin: .5rem;

    a {
      padding: .5rem;
      color: white;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

// About me
#about-me {
  @include background($bg-about-me);
}

// Portfolio
#my-portfolio {
  @include background($bg-portfolio);
}

// Contact me
#contact-me {
  @include background($bg-contact-me);
}


