/* ===== GLOBAL ===== */
@import './shared.scss';
@import './mobile.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background($bg-home);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: 100%;
}

/* ===== Styling ===== */
header {
  position: fixed;
  z-index: 9;
  width: 100%;
}

a {
  text-decoration: none;
}

.highlight {
  color: $secondary-color;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  background: rgba(16, 17, 20, .65);
}

// Section height
#home-main, #about-me, #my-portfolio, #contact-me, .overlay-wrapper {
  height: 100vh;
  width: 100vw;
}

// About Me
#about-me {
  @include background($bg-about-me);
}
// Portfolio
#my-portfolio {
  @include background($bg-portfolio);
}
// Contact Me
#contact-me {
  @include background($bg-contact-me);
}


